<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Application!</h1>

    <% if current_user %>
      <h2>Hey <%= current_user.username %>!</h2>
    <% end %>
    <%= "Hi" + current_user.to_s %>

    __YIELD__

  </body>
</html>
